# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Dependencies
node_modules/
.pnp
.pnp.js
yarn.lock
package-lock.json

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Build
/build
/dist
.cache

# Firebase
.firebaserc
firebase-debug.log

# OS
Thumbs.db
.DS_Store

# Testing
coverage/
.nyc_output/

# App specific
functions/lib/
